obj
bin
_ReSharper.*
*.user
*.suo
*.orig
*.log
*.bin
*.swp
*.dotCover
aspnet_client
*~
~*
.DS_Store
.idea/
__pycache__

# Fubu bottle soruces
src/*/fubu-content/*
!src/*/fubu-content/*.zip

# Nuget sources
src/packages/*/src/*
