<!DOCTYPE html>
<!-- "Put your hand on a hot stove for a minute, and it seems like an hour. Sit with a pretty girl for an hour, and it seems like a minute. That's relativity." -->
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>ASP.NET MVC Telephone Directory</title>

        <link href="/content/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/content/css/application.css" rel="stylesheet">

        <link rel="shortcut icon" href="/content/images/favicon.ico">

        @RenderSection("Head", false)
    </head>

    <body>

        @RenderBody()

    </body>
</html>