ordered set scripts is
scripts/jquery/jquery-1.7.1.min.js
scripts/underscore/underscore-min.js
scripts/underscore/underscore-config.js
scripts/backbone/backbone-min.js
scripts/require/require-min.js
scripts/bootstrap/bootstrap.min.js

ordered set styles is
styles/application.css
styles/bootstrap/css/bootstrap.min.css

ordered set scripts.debug is
scripts/jquery/jquery-1.7.1.js
scripts/underscore/underscore.js
scripts/underscore/underscore-config.js
scripts/backbone/backbone.js
scripts/require/require.js
scripts/bootstrap/bootstrap.js

ordered set styles.debug is
styles/application.css
styles/bootstrap/css/bootstrap.css