<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <httpErrors errorMode="DetailedLocalOnly">
    </httpErrors>
  </system.webServer>
</configuration>
